<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.AlertDeviceDao">

    <!--  查询报警设备信息及报警信息  -->
    <select id="queryAllAlertDevice" resultType="java.util.LinkedHashMap">
        select a.id aid,a.line_id,a.terminal_id,a.content,a.alert_data,a.alert_date,isconfirm,l.line_name,d.id did,d.`name`
        from alert a,device d,line l
        where a.terminal_id=d.terminal_id and a.line_id = l.line_id and isconfirm = 0
        group by a.id
    </select>

    <resultMap id="AlertDeviceMap" type="AlertDevice">
        <id column="aid" property="id" />
        <result column="content" property="content" />
        <result column="alert_data" property="alertData" />
        <result column="alert_date" property="alertDate" />
        <result column="isconfirm" property="isConfirm" />

        <association column="line_id" property="line" javaType="Line">
            <id column="line_id" property="id" />
            <result column="line_name" property="name" />
            <collection column="did" property="device" ofType="Device">
                <id column="did" property="id" />
                <result column="name" property="name" />
            </collection>
        </association>
    </resultMap>

    <!--  按条件查询报警设备  resultMap="AlertDeviceMap"-->
    <select id="queryAlertDeviceByCriteria" resultType="java.util.LinkedHashMap">
        select a.id aid,a.line_id,l.line_name,a.terminal_id,d.name,a.content,a.alert_data,a.alert_date,a.isconfirm
        from alert a, line l, device d
        <where>
            <if test="1==1">
                AND a.line_id = l.line_id
            </if>
            <if test="1==1">
                AND a.terminal_id = d.terminal_id
            </if>
            <if test="lineName != null and lineName != ''">
                AND l.line_name = #{lineName}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND d.name = #{deviceName}
            </if>
            <if test="joint != null and joint != ''">
                AND d.joint = #{joint}
            </if>
            <if test="beginTime != null">
                AND a.alert_date &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                AND a.alert_date &lt;= #{endTime}
            </if>
        </where>
    </select>



</mapper>