<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.AlertDeviceDao">

    <!--  查询报警设备信息及报警信息  -->
    <select id="queryAllAlertDevice" resultType="java.util.LinkedHashMap">
        select a.id aid,a.line_id,a.terminal_id,a.content,a.alert_data,a.alert_date,isconfirm,l.line_name,d.id did,d.`name`
        from alert a,device d,line l
        where a.terminal_id=d.terminal_id and a.line_id = l.line_id and isconfirm = 0
        group by a.id
    </select>

    <resultMap id="AlertDeviceMap" type="AlertDevice">
        <id column="aid" property="id" />
        <result column="content" property="content" />
        <result column="alert_data" property="alertData" />
        <result column="alert_date" property="alertDate" />
        <result column="isconfirm" property="isConfirm" />

        <association column="line_id" property="line" javaType="Line">
            <id column="line_id" property="id" />
            <result column="line_name" property="name" />
            <collection column="did" property="device" ofType="Device">
                <id column="did" property="id" />
                <result column="name" property="name" />
            </collection>
        </association>
    </resultMap>

    <!--  按条件查询报警设备  resultMap="AlertDeviceMap"-->
    <select id="queryAlertDeviceByCriteria" resultType="java.util.LinkedHashMap">
        select a.id aid,a.line_id,l.line_name,a.terminal_id,d.name,a.content,a.alert_data,a.alert_date,a.isconfirm
        from alert a, line l, device d
        <where>
            <if test="1==1">
                AND a.line_id = l.line_id
            </if>
            <if test="1==1">
                AND a.terminal_id = d.terminal_id
            </if>
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="lineName != null and lineName != ''">
                AND l.line_name = #{lineName}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND d.name = #{deviceName}
            </if>
            <if test="joint != null and joint != ''">
                AND d.joint = #{joint}
            </if>
            <if test="beginTime != null">
                AND a.alert_date &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                AND a.alert_date &lt;= #{endTime}
            </if>
        </where>
        group by a.id
    </select>

    <!--  报警确认  -->
    <update id="alarmEnter" parameterType="java.lang.Integer">
        update alert set isconfirm = 1 where id = #{id}
    </update>

    <!--  查询七天中每天的告警次数  -->
    <select id="queryEveryDayAlarmNumber" resultType="AlertDO">
        select a.alert_date days,ifnull(b.count,0) as count
        from (
                 SELECT curdate() as alert_date
                 union all
                 SELECT date_sub(curdate(), interval 1 day) as alert_date
                 union all
                 SELECT date_sub(curdate(), interval 2 day) as alert_date
                 union all
                 SELECT date_sub(curdate(), interval 3 day) as alert_date
                 union all
                 SELECT date_sub(curdate(), interval 4 day) as alert_date
                 union all
                 SELECT date_sub(curdate(), interval 5 day) as alert_date
                 union all
                 SELECT date_sub(curdate(), interval 6 day) as alert_date
             ) a left join (
            select date(alert_date) as datetime, count(*) as count
            from alert
            group by date(alert_date)
        ) b on a.alert_date = b.datetime;
    </select>

    <!--  统计指定时长（天）的报警次数  -->
    <select id="alertCount" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select a.name,ifnull(b.count,0) count
        from device_type a
             left join
             (select d.device_type_id, ifnull(count(a.terminal_id),0) as count
             from alert a, device d
             where a.terminal_id = d.terminal_id and a.line_id = d.line_id and TO_DAYS(NOW()) - TO_DAYS(a.alert_date) &lt;= #{time}
             group by d.device_type_id) b
             on a.device_type_id=b.device_type_id
    </select>

    <!--  获取所有没确认的报警设备所属分区  -->
    <select id="alertPartition" resultType="java.lang.Integer">
        select line_id from alert where isconfirm = 0 group by line_id
    </select>

</mapper>