<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.DeviceDao">

    <!--  查询所有设备  -->
    <select id="queryAllDevice" resultMap="result">
        select line.line_id,line_name,d.id,d.name,terminal_id,dt.name productname
        from line,device d,device_type dt
        where d.line_id = line.line_id and d.device_type_id = dt.device_type_id
        group by d.id
    </select>
    <resultMap id="result" type="Line">
        <id column="line_id" property="id"/>
        <result column="line_name" property="name"/>
        <collection property="device" ofType="Device">
            <id column="id" property="id"/>
            <result column="productname" property="name"/>
            <result column="terminal_id" property="terminalId"/>
            <result column="name" property="deviceName" />
        </collection>
    </resultMap>

    <!--  按分类查询所有设备  -->
    <select id="queryDeviceByCategory" resultType="java.util.LinkedHashMap">
        select d.id,line.line_id,line_name,d.name,terminal_id,dt.name productname
        from line,device d,device_type dt
        where line.line_id = d.line_id and d.device_type_id = dt.device_type_id
        group by terminal_id
    </select>
    
    <!--  根据lineID查询LineName  -->
    <select id="queryLineName" resultType="java.lang.String">
        select line_name from line where line_id = #{lineId}
    </select>

    <!--  查询所有种类设备对应的数量  -->
    <select id="queryAllTypeNumber" resultType="DeviceDO">
        select dt.name,count(dt.name) number
        from line,device d,device_type dt
        where d.line_id = line.line_id and d.device_type_id = dt.device_type_id
        group by dt.name
    </select>

    <!--  查询不在线设备种类对应的数量  -->
    <select id="queryOutlineDevice" resultType="DeviceDO">
        select a.name,ifnull(count(b.online),0) online
        from device_type a
                 left join
             (
                 select dt.name,count(d.id) online,dt.device_type_id
                 from device_type dt, device d
                 where dt.device_type_id = d.device_type_id and TO_DAYS(NOW()) - TO_DAYS(d.last_data_time) &gt;= 1
                 group by d.device_type_id
             ) b
             on a.device_type_id = b.device_type_id
        group by a.name
    </select>

    <!--  查询所有线路  -->
    <select id="queryAllLine" resultMap="LineMap">
        select line_id,line_name from line
    </select>
    <resultMap id="LineMap" type="Line">
        <id column="line_id" property="id" />
        <result column="line_name" property="name" />
    </resultMap>

    <select id="queryMaxValue" resultType="MaxValue">
        select sd,wd,yq,eyht,lhq,jw,bpwd,wzjf,gxcw
        from maxvalues
    </select>

</mapper>