<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.DeviceDao">

    <!--  查询所有设备  -->
    <select id="queryAllDevice" resultMap="result">
        select line.line_id,line_name,id,name,terminal_id
        from line,device
        where device.line_id = line.line_id
    </select>
    <resultMap id="result" type="Line">
        <id column="line_id" property="id"/>
        <result column="line_name" property="name"/>
        <collection property="device" ofType="Device">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="terminal_id" property="terminalId"/>
        </collection>
    </resultMap>

    <!--  查询在线设备  -->
    <select id="queryOnlineDevice" resultMap="onlineDeviceMap">
        select l.line_id,l.line_name,d.id,d.`name`,d.data_time
        from line l,device d
        where l.line_id = d.line_id
    </select>
    <resultMap id="onlineDeviceMap" type="Line">
        <id column="line_id" property="id"/>
        <result column="line_name" property="name"/>
        <collection property="device" ofType="Device">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="data_time" property="dataTime" />
        </collection>
    </resultMap>

    <!--  查询所有类型设备近7天最大值  &lt;= 是小于等于  -->
    <select id="queryDeviceMaxValue" resultType="Device">
        select dt.id,d.`name`,MAX(d.device_data / dt.threshold) device_data
        from (select * from device where date_sub(curdate(), INTERVAL 7 DAY) &lt;= date(data_time)) d,device_threshold dt
        where d.type_id = dt.type_id
        group by d.type_id
    </select>


</mapper>