<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.EnvironmentDao">

    <!--  根据分区ID查询该分区所有环境设备的数据(最新数据)  -->
    <select id="queryAllDataByPartitionId" resultType="EnvironmentDevice">
        select dd.*,dc.partition_id,l.line_name
        from device_data dd,device_config dc,(select max(id) id from device_data group by terminal_id) a, line l, device d
        where dd.id = a.id and dd.terminal_id = dc.terminal_id and dc.partition_id = #{partitionId} and d.terminal_id=dc.terminal_id and d.line_id=l.line_id
    </select>

    <!--  根据分区id查询该分区下环境量设备在使用的通道  -->
    <select id="queryUseChannels" resultType="EnvironmentDO">
        select ca.terminal_id,ca.channel_id,ca.name
        from channel_attribute ca,device_config dc
        where dc.partition_id = #{partitionId} and ca.terminal_id = dc.terminal_id and ca.is_use = 1
    </select>

    <!--  根据环境量和表皮测温设备id查询该设备最新数据  -->
    <select id="queryDatasByTerminalId" resultType="EnvironmentDevice">
        select d.name,dd.*,dc.partition_id
        from device_data dd,device_config dc,(select max(id) id from device_data where device_data.id >= '' group by terminal_id) a,device d
		where dd.id = a.id and dd.terminal_id = dc.terminal_id  AND dd.terminal_id =#{terminalId} and d.terminal_id=dd.terminal_id
		group by terminal_id
    </select>

    <!--  根据环境量和表皮测温设备id查询该设备在使用的通道  -->
    <select id="queryUseChannelsByTerminalId" resultType="EnvironmentDO">
        select ca.terminal_id,ca.channel_id,ca.name,ca.channel_type
        from channel_attribute ca,device_config dc
        where ca.terminal_id = dc.terminal_id and ca.is_use = 1 and ca.terminal_id = #{terminalId}
    </select>

    <!--  根据环境量和表皮测温设备id查询该设备所有数据  -->
    <select id="queryEnvironmentDatasPage" resultType="EnvironmentDevice">
        select ca.name,dd.*,dc.partition_id
        from device_data dd, device_config dc, channel_attribute ca
        <where>
            <if test="1==1">
                AND dd.terminal_id = #{terminalId}
            </if>
            <if test="1==1">
                AND dd.insert_time &gt;= #{beginTime}
            </if>
            <if test="1==1">
                AND dd.insert_time &lt;= #{endTime}
            </if>
        </where>
        group by dd.id
    </select>

    <select id="queryChannelDatas" resultType="EnvironmentDevice">
        select *
        from device_data
        <where>
            <if test="1==1">
                AND terminal_id = #{terminalId} and insert_time &gt;= #{begintime} and insert_time &lt;= #{endtime}
            </if>
        </where>
    </select>

    <!--  获取所有环境量(3台)最新数据  -->
    <select id="queryDatasHJL" resultType="EnvironmentDevice">
        select  dd.terminal_id,
                dd.passage_one,
                dd.passage_two,
                dd.passage_six,
                dd.passage_seven,
                dd.passage_eigth,
                dd.passage_nine,
                dc.partition_id,
                dd.insert_time
        from device_config dc right join device_data dd FORCE INDEX(`insert_time`) on dd.terminal_id = dc.terminal_id
        where dc.device_type_id = 1
        order by dd.insert_time desc limit 3
    </select>

    <!--  获取所有表皮温度(2台)最新数据  -->
    <select id="queryDatasBPWD" resultType="EnvironmentDevice">
        select dd.terminal_id,
               dd.passage_one,
               dd.passage_two,
               dd.passage_three,
               dc.partition_id,
               dd.insert_time
        from device_config dc
             right join device_data dd FORCE INDEX(`insert_time`)
             on dd.terminal_id = dc.terminal_id
        where dc.device_type_id = 5
        order by dd.insert_time desc limit 2
    </select>
</mapper>