<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.FibreTemperatureDao">
    <insert id="insertData" parameterType="FibreTemperature">
        insert into fibre_temperature(device_ip,channel,create_time,step,datas) values(#{deviceIp},#{Channel},#{createTime},#{step},#{datas})
    </insert>
</mapper>