<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtw.bridge.mapper.UserDao">

    <!--  添加用户  -->
    <insert id="addUser" parameterType="User">
        <selectKey keyProperty='id' resultType='int' order='AFTER'>
            select LAST_INSERT_ID();
        </selectKey>
        insert into user(username,password,cleartext_password,create_time) values(#{username},#{password},#{cleartextPassword},#{createTime});
    </insert>
    <insert id="relationUserRole"><!-- 默认2,普通用户 -->
        insert into user_role(user_id, role_id) values(#{userId}, 2)
    </insert>

    <!--  根据用户名查询用户(可以用于判断用户是否存在)  -->
    <select id="queryUserByName" resultMap="UserMap">
        select user.id,username,create_time, role.id rid,role_name,role_code,role_desc
        from user,user_role,role
        where username = #{username} and user.id = user_role.user_id and user_role.role_id = role.id
    </select>
    <resultMap id="UserMap" type="User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="create_time" property="createTime" />
        <association column="rid" property="role" javaType="Role">
            <id column="rid" property="id" />
            <result column="role_name" property="roleName" />
            <result column="role_code" property="roleCode" />
            <result column="role_desc" property="roleDesc" />
        </association>
    </resultMap>

    <!--  修改用户角色  -->
    <update id="editUserRole">
        update user_role set role_id = #{roleId} where user_id = #{userId}
    </update>

    <!--  根据用户名删除用户  -->
    <delete id="delUser" >
        delete from user where username = #{username}
    </delete>
    <!--  删除用户角色关联记录  -->
    <delete id="delUserRole">
        delete from user_role where user_id = #{userId}
    </delete>

    <!--  查询所有用户  -->
    <select id="queryAllUser" resultMap="UserMap">
        select user.id,username,create_time, role.id rid,role_name,role_code,role_desc
        from user,user_role,role
        where user.id = user_role.user_id and user_role.role_id = role.id
    </select>

    <!--  根据用户名查询密码  -->
    <select id="queryPasswordByUsername" resultMap="pwMap">
        select id,cleartext_password from user where username = #{userName}
    </select>
    <resultMap id="pwMap" type="User">
        <id column="id" property="id" />
        <result column="cleartext_password" property="cleartextPassword" />
    </resultMap>
</mapper>